@import 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap';
* {
  padding: 0;
  border: 0;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 3rem;
}
p {
  margin: 0px;
  color: #606060;
}
body {
  background-color: #ececec;
}
.App {
  padding: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .App {
    margin: 0 auto;
    width: 450px;
  }
}
/* search */
form {
  width: 100%;
  text-align: center;
}
form h1 {
  margin-bottom: 20px;
}
input {
  width: 80%;
  height: 40px;
  padding: 5px 10px;
}
select {
  width: 20%;
  height: 40px;
  padding: 5px 10px;
}
/* location */
.location {
  width: 100%;
  position: relative;
  margin-top: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
#clear {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 700;
  text-align: center;
  cursor: pointer;
}
.banner {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.location-current-conditions {
  padding: 60px 0px 30px 0px;
  text-align: center;
  background-color: #fff;
}
.location-current-conditions h4 {
  font-size: 1.5rem;
}
.current-weather-icon {
  height: 100px;
  width: 100px;
  padding: 5px;
  position: absolute;
  top: 200px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* forecast */
.forecast-container {
  padding: 20px 0px;
  border-bottom: 2px solid #ececec;
}
.forecast-text {
  font-size: 0.8rem;
}
.forecast-temp-max {
  font-size: 1.8rem;
}